.chat-window {
  position: absolute;
  right: -25%;
  height: 100px;
  transition: all 1s;
  z-index: 1000;
  width: 25%;
  top: 0;
  height: 100vh;
}

.chat-window.show {
  border: 1px solid black;
  background-color: white;
  right: 0px;
}